{{- $terms := partialCached "helpers/taxonomy.html" (dict "ctx" . "kind" "tags" "surface" "widget") "tags" "widget" .Site.Language.Lang -}}
{{- with $terms -}}
  <div class="widget-wrapper">
    <div
      class="widget-wrap"
      data-aos="{{ $.Site.Params.animation.options.home.widget }}"
    >
      <div style="display: flex; justify-content: space-between;">
        <h3 class="widget-title">{{ i18n "tags" }}</h3>
        {{- if gt (len .) $.Site.Params.tag_limits -}}
          <a class="widget-link" href="{{ "tags/" | relLangURL }}">{{ i18n "more" }}</a>
        {{- end -}}
      </div>
      <div class="widget">
        <ul class="tag-list" itemprop="keywords">
          {{- $counter := 0 -}}
          {{- range . -}}
            {{- if lt $counter $.Site.Params.tag_limits -}}
            <li class="tag-item">
                <a
                  class="tag-link"
                  href="{{ .page.RelPermalink }}"
                  aria-label="{{ i18n "tag" }}: {{ .page.Title }}"
                  title="{{ .page.Title }}"
                >
                  {{ .page.Title }}
                </a>
              </li>
              {{- $counter = add $counter 1 -}}
            {{- end -}}
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
{{- end -}}
