{{- define "main" -}}
  {{- $type := .Type -}}

  {{- $sort_config := "date-reverse" -}}
  {{- if eq $type "categories" -}}
    {{- $sort_config = .Site.Params.sort_order.taxonomy.category -}}
  {{- else if eq $type "tags" -}}
    {{- $sort_config = .Site.Params.sort_order.taxonomy.tag -}}
  {{- end -}}

  {{- $pageSize := 0 -}}
  {{- with $.Site.Params.paginate.archive -}}
    {{- $pageSize = . -}}
  {{- end -}}
  {{- /* a term page gets its own surface (categories or tags), which also
       inherits every taxonomy exclusion; the taxonomy index page keeps the
       umbrella surface */ -}}
  {{- $surface := "taxonomy" -}}
  {{- if eq .Kind "term" -}}
    {{- $surface = .Data.Plural -}}
  {{- end -}}
  {{- $posts := partial "helpers/posts.html" (dict "ctx" . "surface" $surface "pages" .Pages) -}}
  {{- $paginator := "" -}}
  {{- if gt $pageSize 0 -}}
    {{- $paginator = .Paginate $posts $pageSize -}}
  {{- else -}}
    {{- $paginator = .Paginate $posts -}}
  {{- end -}}

  {{- $sortedPages := $paginator.Pages.GroupByDate .Site.Params.yearFormat "desc" -}}
  {{- if eq $sort_config "weight" -}}
    {{- $sortedPages = $paginator.Pages.ByWeight -}}
  {{- else if eq $sort_config "weight-reverse" -}}
    {{- $sortedPages = $paginator.Pages.ByWeight.Reverse -}}
  {{- else if eq $sort_config "date" -}}
    {{- $sortedPages = $paginator.Pages.GroupByDate .Site.Params.yearFormat "asc" -}}
  {{- else if eq $sort_config "default" -}}
    {{- $sortedPages = $paginator.Pages -}}
  {{- end -}}
  <div
    class="archives-outer-wrap"
    data-aos="{{ .Site.Params.animation.options.archive.whole }}"
  >
    {{- if .Site.Params.only_show_capsule_in_index -}}
      {{- if eq .Kind "taxonomy" -}}
        {{- partialCached "archives.html" . -}}
      {{- end -}}
    {{- else -}}
      {{- partialCached "archives.html" . -}}
    {{- end -}}
    {{- partial "list.html" (dict "paginator" $sortedPages "ctx" .) -}}
  </div>
  {{- partial "pagination.html" . -}}
{{- end -}}
